body{
	background-color: #4BBF6B;
	margin: 0px;
}

#trello{
	width: 100%;
	height: 40px;
	margin: 0px 0px 40px 0px ;
}

#contenedorAgregar{
	border:2px solid #42A95E;
	background-color: #42A95E;
	color: #E2E4E6;
	font-size: 18px;
	padding: 10px 130px 10px 10px;
	border-radius: 5px;
	cursor: pointer;
}

#contenedorAgregar:hover{
	background-color: rgba(0,0,0,.3);
}

#contenedorspan{
	margin-left: 5px;
	display: inline-block;
	
}

#formulario{
	padding: 6px;
	background-color:#E2E4E6;
	width: 20%;
	border-radius: 5px;
	display: none;
	margin-left: 5px;
}

#titulo{
	border:2px solid #C0C1C3;
	background-color: #D7D9DB;
	font-size: 15px;
	padding: 8px 60px 8px 10px;
	border-radius: 5px;
}

#boton{
	background-color: #5DB349;
	color: white;
	border-radius: 5px;
	padding: 7px 20px;
	margin: 5px;
	font-size: 15px;
	border:2px solid #5DB349;
}

#botonEliminar{
	color: #999999;
	font-size: 18px;
	background-color: #E2E4E6;
	border: none;
}

#botonEliminar:hover{
	color: black;
}

.imprimirTitulo{
	background-color: #E2E4E6;
	display: block;
	margin: 0 79% 15px 0;
	padding: 15px 0 10px 15px;
	border-radius: 5px 5px 0 0;
	font-weight: bold;
}

.agregarTarjeta{
	background-color: #E2E4E6;
	padding: 15px 166px 10px 15px;
	border-radius: 0 0 5px 5px;
	color: gray;
	cursor: pointer;

}

.agregarTarjeta:hover{
	background-color: #C8C8C8;	
	text-decoration:underline;
}

.contenLista{
	display: inline-block;
}